@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
form
{
    text-align: center;
}
p
{
   text-align: center;
   font-family:  "Comic Sans MS", cursive;
}
h1
{
    color: #164E87;
    font-family: 'Pacifico', cursive;
}

.div_center_top
{
    position: absolute; /* postulat de départ */
    top: 30px; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */

}
.icon_site
{
    float:left;
}
#navbar {
    position: fixed;
    top:150px;
    left:50%;
    margin-left: -150px;
}
ul{
    list-style-type: none;
    position: fixed;
    margin: -10px;
}
li {
    display: inline;
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 5px 5px;
    border-color: #3D90E3;
    background-color: #3D90E3;
}

#messages
{
    
    border-width:1px;
    border-style:solid;
    border-color:black;
    width: 200;
    height: 200;

}

